.custom-shape-divider-bottom-1646455565 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #202040;
}

.custom-shape-divider-bottom-1646455565 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 208px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1646455565 .shape-fill {
    fill: #F2F5F9;
}

nav{
    .active{
        color: $color-primary !important;
    }
}

.btn-navbar{
    background-color: transparent;
    border: 3px solid #9c9c9c;
    color: white;
}

.btn-navbar:hover{
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;
}

.bg-main{
    background-color: #202040;
}

.nav-item-2{
    position: relative;
}

.nav-item-2 a:hover+ul , .nav-item-2 ul:hover{
    display: block;
}

.nav-item-2 ul{
    display: none;
    position: absolute;
    width: 150%;
    background-color: white;
    top: 100%;
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
}

.nav-item-2 ul li{
    margin-left: 10px;
    padding: 5px 0;
}

.nav-item-2 ul li a{
    text-decoration: none;
    color: black;
    display: flex;
}
.nav-item-2 ul li a:hover{
    color: $color-primary;
}

.m-btn-submenu:hover + .m-submenu , .m-submenu:hover{
    display: list-item;
}

.m-submenu{
    display: none;
    position: absolute;
    width: 100% !important;
    background-color: white;
    left: 100%;
    margin-top: -40%;
    list-style-type: none;
    text-align: left;
    padding: 10px 0;
}