@mixin animation($params...) {
    animation: $params;
    -o-animation: $params;
    -moz-animation: $params;
    -webkit-animation: $params;
}

@mixin transition($params2...) {
    transition: $params2;
    -o-transition: $params2;
    -moz-transition: $params2;
    -webkit-transition: $params2;
}

@mixin transform($params3...) {
    transform: $params3;
    -o-transform: $params3;
    -moz-transform: $params3;
    -webkit-transform: $params3;
    -ms-transform-origin: $params3;
}