// Font Refrence
@import "./fonts";
@import "./variable";
@import "./mixin";
@import "./header";
@import "./features";
@import "./coment";

// Base Style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f5f9;
    font-family: 'Montserrat', sans-serif;
}

.text-main{
    color: $color-primary;
}

.btn-prevNext{
    background-color: white;
    border: 2px solid $color-primary;
    color: $color-primary;
    font-size: 1.1rem;
}