// Font Refrence
@import "./fonts";

@import "./variable";

@import "./header";

// Base Style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f5f9;
    font-family: 'Montserrat', sans-serif;
}