// Font Refrence
@import "./fonts";
@import "./variable";
@import "./mixin";
@import "./header";
@import "./features";
@import "./coment";

// Base Style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f5f9;
    font-family: 'Montserrat', sans-serif;
}

.text-main{
    color: $color-primary;
}

.btn-prevNext{
    background-color: white;
    border: 2px solid $color-primary;
    color: $color-primary;
    font-size: 1.1rem;
    @include transition(transform 100ms)
}

.btn-prevNext:hover{
    background-color: $color-primary;
    color: white;
}

.btn-prevNext:active{
    @include transform(scale(.9))
}

.btn-prevNext:focus{
    box-shadow: none;
}

.bg-main2{
    background-color: $color-primary
}

.custom-control-input{
    width: 4rem !important;
    background-color: transparent;
    padding: 15px 0;
    border: 1px solid $color-primary;
    color: $color-primary;
    background-image: url("../images/customized\ switch.svg") !important;
}


.custom-control-input:checked{
    background-color: transparent;
    border-color: $color-primary;
    background-image: url("../images/result.svg");
}


.custom-control-input:checked , .custom-control-input:focus{
    border-color: $color-primary;
    box-shadow: none;
}